<div class="container">
  <div class="txtBox">
    <div class="texto">
      <p>Me chamo Matheus, sou estudante do Senac Niterói, estou cursando técnico em informática de nível médio, adoro programar, e sou apaxonado pelo GNU/Linux.</p>
      <p>Este projeto eu criei na intenção de praticar meus conhecimentos com as tecnologias: TypeScript, Angular, NodeJs. Tudo isso em um tema que gosto bastante, que seria um pequeno jogo baseado em um RPG na época medieval.</p>
      <p>Pretendo um dia atuar profissionalmente na área de programação front-end, pois acho uma área muito interessante, futuramente irei cursar engenharia de software e seguir com o meu sonho, sempre, de me tornar um programador reconhecido pela comunidade.</p>
      <hr>
      <p>Beautiful is better than ugly. <br>
      Explicit is better than implicit. <br>
      Simple is better than complex.</p>
    </div>
  </div>
</div>
