<div class="subTitulo">
  <h2>Criaturas:</h2>
    <img class="img_criaturas" src="assets/img_criaturas/criatura_vampiro.jpg" alt="Vampiro" title="Vampiro">
    <img class="img_criaturas" src="assets/img_criaturas/criatura_lobisomem.jpg" alt="Lobisomem" title="Lobisomem">
    <img class="img_criaturas" src="assets/img_criaturas/criatura_necromante.jpg" alt="Necromante" title="Necromante">
    <img class="img_criaturas" src="assets/img_criaturas/criatura_dragao.jpg" alt="Dragão" title="Dragão">
</div>
