<div class="subTitulo">
  <h2>Personagens:</h2>
    <img class="img_personagens" src="/assets/img_humanos/guerreiroHumano.jpg" alt="Guerreiro humano" title="Guerreiro">
    <img class="img_personagens" src="/assets/img_humanos/magoHumano.jpg" alt="Mago" title="Mago">
    <img class="img_personagens" src="/assets/img_humanos/arqueiroHumano.jpg" alt="Arqueiro humano" title="Arqueiro">
    <img class="img_personagens" src="/assets/img_humanos/assassinoHumano.jpg" alt="Assassino humano" title="Assassino">
</div>
