<div class="subTitulo">
  <h2>Personagens:</h2>
  <h3>Raças e suas classes:</h3>
  <h4>Humano</h4>
    <img class="img_personagens" src="/assets/img_humanos/guerreiroHumano.jpg" alt="Guerreiro humano" title="Guerreiro Humano">
    <img class="img_personagens" src="/assets/img_humanos/magoHumano.jpg" alt="Mago" title="Mago Humano">
    <img class="img_personagens" src="/assets/img_humanos/arqueiroHumano.jpg" alt="Arqueiro humano" title="Arqueiro Humano">
    <img class="img_personagens" src="/assets/img_humanos/assassinoHumano.jpg" alt="Assassino humano" title="Assassino Humano">
  <!--<h4>Orc</h4>
  <img class="img_personagens" src="">
  <img class="img_personagens" src="">
  <img class="img_personagens" src="">
  <img class="img_personagens" src="">
  <h4>Anão</h4>
  <img class="img_personagens" src="">
  <img class="img_personagens" src="">
  <img class="img_personagens" src="">
  <img class="img_personagens" src="">
  <h4>Elfo</h4>
  <img class="img_personagens" src="">
  <img class="img_personagens" src="">
  <img class="img_personagens" src="">
  <img class="img_personagens" src="">-->
</div>
