<!--The content below is only a placeholder and can be replaced.-->
<style>
  @import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
</style>
<div style="text-align:center">
 
  <header>
    <h1 class="titulo">RPG Project</h1>
    <div id="menu">
      <nav class="navbar-expand{-sm|-md|-lg|-xl}">
        <a href="index.html">Home</a>
        <a href="#">Jogar</a>
        <a href="personagens.html">Personagens</a>
        <a href="#">Sobre Nós</a>
        <a href="#">Contatos</a>
      </nav>
    </div>
    <hr>
</header>
  <img width="1250px" height="600px" class="imgPincipal" src="https://trello-attachments.s3.amazonaws.com/5ce31e9bd28e6337a8001bf2/5ce321592fc74235b58fe313/64a2ded6e69ebf54c13c9d2d171591ac/dragon-world-of-warcraft-4k.jpg" title="Dragão" alt="Dragão vermelho lançando fogo" class=" col-6" class="img-fluid" max-width="100%" height="auto">
<h2 class="subTitulo">O RPG project é um projeto de um jogo WEB onde os jogadores irão se aventurar em um mundo repleto por magias e criaturas.</h2>
</div>


