<style>
  @import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
</style>
<div style="text-align:center">
 
  <header>
    <h1 class="titulo">RPG Project</h1>
    <div id="menu">
      <nav class="navbar-expand{-sm|-md|-lg|-xl}">
        <a routerLink="/">Home</a>
        <a routerLink="jogar">Jogar</a>
        <a routerLink="personagens">Personagens</a>
        <a routerLink="criaturas">Criaturas</a>
        <a routerLink="sobrenos">Sobre Nós</a>
        <a routerLink="contatos">Contatos</a>
      </nav>
    </div>
    <hr>
</header>
 <router-outlet></router-outlet>
</div>


