<h1 class="titulo">Criação do personagem</h1>
<h2  class="titulo">Escolha a classe que você vai pertencer</h2>
<div>
    <img class="img_personagens" src="/assets/img_humanos/guerreiroHumano.jpg" alt="Guerreiro humano" title="Guerreiro">
    <img class="img_personagens" src="/assets/img_humanos/magoHumano.jpg" alt="Mago" title="Mago">
    <img class="img_personagens" src="/assets/img_humanos/arqueiroHumano.jpg" alt="Arqueiro humano" title="Arqueiro">
    <img class="img_personagens" src="/assets/img_humanos/assassinoHumano.jpg" alt="Assassino humano" title="Assassino">
</div>
<br>
<div class="texto">
    <h4>Agora você irá escolher mais aluns detalhes sobre o seu personagem</h4>
    <div>
        <ul>
            Nome: <input type="text" id="nomePerson" placeholder="Nome do Personagem"><br>
            <span title="Conecede bônus de dano">Benção de guerra <input type="radio" name="bencao" id="bencao_guerra"></span><br> 
            <span title="Conecede bônus de cura">Benção divina <input type="radio" name="bencao" id="bencao_cura"></span><br>
        </ul>
        
        <input type="submit" value="Criar">
    </div>
</div>